<h4 class="text-center"> Bem vindo a nossa casa!</h4>

<form [formGroup]="signupForm" class="form mt-4" (submit)="signup()">
    <div class="form-group">
        <input #inputEmail formControlName="email" placeholder="E-mail" class="form-control" autofocus >
        <ap-vmessage
            *ngIf="signupForm.get('email').errors?.required"
            text="Digite seu e-mail!">
        </ap-vmessage>
        <ap-vmessage
            *ngIf="signupForm.get('email').errors?.email"
            text="E-mail inválido!">
        </ap-vmessage>
    </div>

    <div class="form-group">
        <input formControlName="fullName" placeholder="Nome completo" class="form-control">
        <ap-vmessage
            *ngIf="signupForm.get('fullName').errors?.required"
            text="Digite seu nome completo!">
        </ap-vmessage>
        <ap-vmessage
            *ngIf="signupForm.get('fullName').errors?.minlength"
            text="Tamanho mínimo é 2 letras!">
        </ap-vmessage>
        <ap-vmessage
            *ngIf="signupForm.get('fullName').errors?.maxlegth"
            text="Tamanho máximo é de 40 letras!">
        </ap-vmessage>
    </div>

    <div class="form-group">
        <input formControlName="userName" placeholder="Usuario" class="form-control">
        <ap-vmessage
            *ngIf="signupForm.get('userName').errors?.required"
            text="Digite seu nome!">
        </ap-vmessage>
        <ap-vmessage
            *ngIf="signupForm.get('userName').errors?.minlength"
            text="Tamanho mínimo é 2 letras!">
        </ap-vmessage>
        <ap-vmessage
            *ngIf="signupForm.get('userName').errors?.maxlegth"
            text="Tamanho máximo é de 30 letras!">
        </ap-vmessage>
        <ap-vmessage
            *ngIf="signupForm.get('userName').errors?.lowerCase"
            text="Usuário deve ser em minúsculo!">
        </ap-vmessage>
        <ap-vmessage
            text="Username already taken"
            *ngIf="signupForm.get('userName').errors?.userNameTaken">
        </ap-vmessage>
        <small *ngIf="signupForm.get('userName').valid" class="text-success">User available</small>
    </div>

    <div class="form-group">
        <input formControlName="password" type="password" placeholder="Senha" class="form-control">
        <ap-vmessage
            *ngIf="signupForm.get('password').errors?.required"
            text="Digite sua senha!">
        </ap-vmessage>
        <ap-vmessage
            *ngIf="signupForm.get('password').errors?.minlength"
            text="Tamanho mínimo é 8 letras!">
        </ap-vmessage>
        <ap-vmessage
            *ngIf="signupForm.get('password').errors?.maxlegth"
            text="Tamanho máximo é de 18 letras!">
        </ap-vmessage>
    </div>

    <button [disabled]="signupForm.invalid || signupForm.pending" class="btn btn-primary btn-block">Cadastre-se</button>

    <p>Ja possui cadastro?<a [routerLink]="['']"> Clique aqui!</a></p>
</form>